# # General-purpose libraries
numpy
pandas
scipy
matplotlib
seaborn
scikit-learn

# # Machine Learning and Deep Learning libraries
tensorflow
keras
tf-keras
torch
torchvision
xgboost
lightgbm
catboost

# Natural Language Processing (NLP) libraries
nltk
spacy
transformers

# # Data processing & feature engineering
joblib
pyarrow
dask
tqdm
